body {
  background-color: #f6fcf3;
  .loginBox,
  .gameContainer {
    display: none;
  }

  &.loggedOut {
    .loginBox {
      display: block;
    }
  }
  &.loggedIn {
    .gameContainer {
      display: block;
      position: relative;
      width: 850px;
      margin: 0 auto;
      display: grid;
      grid-template-areas:
        "canvas chat"
        "controls .";
      grid-template-columns: 1fr 0.4fr;
      canvas {
        grid-area: canvas;
        position: absolute;
      }
      .chat {
        grid-area: chat;
      }
      .controls {
        grid-area: controls;
      }
    }
  }
}
