.chat {
  .chat__messages {
    height: 450px;
    overflow-y: scroll;
    box-shadow: $box-shadow;
    background-color: #fff;
    li {
      span {
        &:first-child {
          font-weight: bold;
        }
      }
      .you {
        color: #000;
      }
      .out {
        color: #555;
      }
    }
    .chat__form {
      margin-top: 5px;
    }
  }
}
